/* For PC Screen */
#about {
  min-height: 50vh;
  margin: auto;
  max-width: 1000px;
}

.about-description {
  color: var(--pink-glow);
  font-family: "NTR", sans-serif;
  font-size: 26px;
  text-align: left;
  max-width: 650px;
  padding-bottom: 20px;
}

.about-description a {
  color: var(--cute-lime-fade);
  font-weight: bold;
  text-decoration: none !important;
}

.about-description a:hover {
  color: var(--cute-lime);
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: center;
}

.about-grad-pic {
  width: 500px;
  height: 500px;
  opacity: 95%;
  padding: 30px;
  border-radius: 50%;
}

.about-grad-pic:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

/* For Phone Screen */
@media only screen and (max-width: 720px) {
  #about {
    padding-top: 30%;
  }

  .about-description {
    font-size: 18px;
    padding-bottom: 50px;
  }

  .about-content {
    align-items: center;
    flex-direction: column;
  }

  .about-grad-pic {
    width: 250px;
    height: 250px;
    opacity: 95%;
    padding: unset;
    border-radius: 50%;
  }

  .matcha-container {
    display: none;
  }
}

/* For Tablet Screen */
@media only screen and (min-width: 720px) and (max-width: 1366px) {
  .about-content {
    flex-direction: column;
  }

  .about-description {
    font-size: 35px;
    padding-bottom: 50px;
  }

  .matcha-container {
    display: none;
  }
}