/* For PC Screen */
#about {
  min-height: 50vh;
  margin: auto;
  max-width: 1180px;
  padding-bottom: 70px;
}

.about-description {
  color: var(--pink-glow);
  font-family: "NTR", sans-serif;
  font-size: 26px;
  text-align: left;
  max-width: 650px;
  padding-bottom: 20px;
}

.about-description a {
  color: var(--cute-lime-fade);
  font-weight: bold;
  text-decoration: none !important;
}

.about-description a:hover {
  color: var(--cute-lime);
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: center;
}

#about-media {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.about-grad-pic,
.the-office-gif,
.keyboard-gif {
  width: 350px;
  height: 350px;
  margin: 5px;
  object-fit: cover;
  border-radius: 10%;
  margin: 20px;
  opacity: 70%;
  box-shadow: 10px 10px 20px var(--dark-berry-fade);
}

.about-grad-pic:hover,
.the-office-gif:hover,
.keyboard-gif:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

/* For Phone Screen */
@media only screen and (max-width: 720px) {
  #about {
    padding-bottom: 30%;
  }

  .about-description {
    font-size: 18px;
  }

  .about-content {
    align-items: center;
    flex-direction: column;
  }

  #about-media {
    flex-direction: row;
    align-items: center;
  }

  .about-grad-pic,
  .the-office-gif {
    width: 150px;
    height: 150px;
    margin: 12px;
    border-radius: 15%;

  }

  .keyboard-gif {
    display: none;
  }

  .matcha-container {
    display: none;
  }
}

/* For Tablet Screen */
@media only screen and (min-width: 720px) and (max-width: 1366px) {
  .about-content {
    flex-direction: column;
  }

  .about-description {
    font-size: 35px;
  }

  .matcha-container {
    display: none;
  }

  .keyboard-gif {
    display: none;
  }

  #about-media {
    flex-direction: row;
    align-items: center;
  }

  .about-grad-pic,
  .the-office-gif {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20%;
    margin: 20px;
    opacity: 80%;
  }
}