/* For PC Screen */
#about {
  min-height: 50vh;
  margin: auto;
  max-width: 1400px;
  padding-bottom: 70px;
  padding-top: 35px;
}

#about-title {
  padding-left: 2% !important;
  height: 100px !important;
}

.about-content {
  display: flex;
  flex-direction: row;
  vertical-align: center;
  align-items: center;
}

.about-description-chat-bubble {
  background-color: var(--dark-berry-fade);
  backdrop-filter: blur(2px);
  border-radius: 5%;
  padding: 50px;
  padding-bottom: 0px;
}

.about-description-chat-bubble::before {
  margin-left: -90px;
  margin-top: 150px;
  content: '';
  position: absolute;
  border: 20px solid transparent;
  border-right-color: var(--dark-berry-fade);
}

.about-description {
  color: var(--pastel-pink);
  font-family: "NTR", sans-serif;
  font-size: 23px;
  text-align: left;
  max-width: 800px;
  padding-bottom: 20px;
}

.about-description a {
  color: var(--cute-lime);
  font-weight: bold;
  text-decoration: none !important;
}

.about-description a:hover {
  color: var(--cute-lime-fade);
}

.about-grad-pic {
  width: 370px;
  height: 370px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 50px;
  opacity: 87%;
  box-shadow: 10px 10px 20px var(--dark-berry-fade);
}

.about-grad-pic:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

/* For Phone Screen */
@media only screen and (max-width: 720px) {
  #about {
    padding-bottom: 30%;
  }

  #about-title {
    justify-content: center !important;
    padding-left: unset !important;
    height: unset !important;
  }

  .matcha-container {
    display: none;
  }

  .about-content {
    flex-direction: row;
  }

  .about-description-chat-bubble {
    padding: 0px;
    border-radius: 2%;
    background-color: unset;
    backdrop-filter: unset;
  }

  .about-description-chat-bubble::before {
    display: none;
  }

  .about-description {
    font-size: 18px;
    padding-left: 10px;
    color: var(--pink-glow);
  }

  .about-grad-pic {
    display: none;
  }
}

/* For Tablet Screen */
@media only screen and (min-width: 720px) and (max-width: 1366px) {
  #about-title {
    justify-content: center !important;
    height: unset !important;
  }

  .matcha-container {
    display: none;
  }

  .about-content {
    flex-direction: row;
  }

  .about-description {
    font-size: 28px;
  }

  .about-grad-pic {
    display: none;
  }

  .about-description-chat-bubble::before {
    display: none;
  }
}