
@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');

:root {
    --dark-berry: #1a001f;
    --medium-berry: #45062e;
    --light-berry: #451d4df3;
    --pastel-pink: #ffc1e3;
    --cute-lime: #b7de6ef5;
    --cute-lime-fade: #b7de6eb7;
    --baby-blue: #b0ecf9ba;
    --neon-pink: #ff50bcc3;
    --pink-glow: #ffc1e3cb;
  }
  