
@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');

:root {
    --dark-berry: #1a001f;
    --light-berry: #6b4c71f3;
    --pastel-pink: #ffc1e3;
    --cute-lime: #b7de6ef5;
    --baby-blue: #b0ecf9ba;
    --neon-pink: #df1d95e4;
    --pink-glow: rgba(255, 185, 232, 0.641);
  }
  