/* For PC Screen */
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  max-width: 1000px;
  min-height: 100vh;
}

.intro-profile-picture {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  margin: 10px;
  margin-bottom: 10px;
}

.intro-profile-picture:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.intro-title {
  font-family: "NTR", sans-serif;
  color: var(--pastel-pink);
  font-size: 60px;
  margin-bottom: -25px;
}

.intro-name {
  font-family: "NTR", sans-serif;
  color: var(--cute-lime);
  font-weight: bold;
  font-size: 60px;
}

.intro-name [class*="blinkingCursor"] {
  color: var(--pastel-pink) !important;
}

.intro-social-icon {
  transition: all 0.1s ease-out;
  margin: 6px;
  color: var(--neon-pink);
  font-size: 50px !important;
}

.intro-social-icon:hover {
  transform: scale(1.2);
  transition: transform 0.1s ease-in-out;
}

.intro-description {
  color: var(--pink-glow);
  font-family: "NTR", sans-serif;
  font-size: 24px;
  text-align: center;
  max-width: 750px;
}

.intro-go-down {
  padding-top: 20px;
  color: var(--cute-lime-fade);
  font-size: 50px !important;
}

.intro-go-down:hover {
  font-size: 60px !important;
  transition: transform 0.5s ease-in-out !important;
}

/* For Phone Screen */
@media only screen and (max-width: 720px) {
  #home {
    min-height: unset;
    padding-top: 0%;
    margin: 0;
    align-items: center;
  }

  .intro-profile-picture {
    width: 150px;
    height: 150px;
    margin-bottom: 0px;
  }

  .intro-title {
    font-size: 200%;
    margin-bottom: -10px;
  }

  .intro-name {
    font-size: 1em !important;
  }

  .intro-social-icon {
    font-size: 30px !important;
  }

  .intro-description {
    font-size: 18px;
    max-width: unset;
  }

  .intro-go-down {
    padding-top: 5%;
    font-size: 30px !important;
    padding-bottom: 20%;
  }

  .intro-go-down:hover {
    font-size: 40px !important;
  }
}

/* For Tablet Screen */
@media only screen and (min-width: 720px) and (max-width: 1200px) {
  #home {
    padding-top: 10px;
    padding-left: unset;
    padding-right: unset;
    padding-top: 10%;
  }

  .intro-profile-picture {
    width: 250px;
    height: 250px;
  }

  .intro-title {
    font-size: 70px;
  }

  .intro-name {
    font-size: 70px;
  }

  .intro-social-icon {
    font-size: 50px !important;
  }

  .intro-description {
    padding-top: 5%;
    font-size: 30px;
    max-width: unset;
  }

  .intro-go-down {
    padding-top: 5%;
    font-size: 50px !important;
    padding-bottom: 20%;
  }
}

/* Other */
@media only screen and (min-width: 1200px) and (max-height: 600px) {
  #home {
    padding-left: unset;
    padding-right: unset;
    padding-top: unset;
  }

  .intro-profile-picture {
    width: 10em;
    height: 10em;
  }

  .intro-title,
  .intro-name {
    font-size: 40px;
  }

  .intro-social-icon {
    font-size: 2.5em !important;
  }

  .intro-description {
    font-size: 1.1em;
    max-width: 600px;
  }

  .intro-go-down {
    padding-top: 3%;
    font-size: 2em !important;
    padding-bottom: 25%;
  }

  .intro-go-down:hover {
    font-size: 2.5em !important;
  }
}