/* For PC Screen */
#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  max-width: 1000px;
  min-height: 100vh;
}

.intro-profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0px 0px 80px var(--neon-pink);
  margin: 10px;
}

.intro-title {
  font-family: "NTR", sans-serif;
  color: var(--pastel-pink);
  font-size: 55px;
  margin-bottom: -25px;
}

.intro-name {
  font-family: "NTR", sans-serif;
  color: var(--cute-lime);
  font-weight: bold;
  font-size: 55px;
}

.intro-name [class*="blinkingCursor"] {
  color: var(--pastel-pink) !important;
}

.intro-social-icon {
  transition: all 0.1s ease-out;
  margin: 5px;
  color: var(--neon-pink);
  font-size: 40px !important;
}

.intro-social-icon:hover {
  transform: scale(1.1);
}

.intro-description {
  color: var(--pink-glow);
  font-family: "NTR", sans-serif;
  font-size: 22px;
  text-align: center;
  max-width: 650px;
  padding-bottom: 20px;
}

.intro-go-down {
  color: var(--cute-lime-fade);
  font-size: 40px !important;
}

.intro-go-down:hover {
  font-size: 50px !important;
}

/* For Phone Screen */
@media only screen and (max-width: 800px) {
  #intro {
    min-height: unset;
    padding-left: unset;
    padding-top: unset;
    margin: 0;
    align-items: center;
  }

  .intro-title {
    font-size: 46px;
    margin-bottom: unset;
  }

  .intro-name {
    font-size: 46px;
  }

  .intro-social-icon {
    font-size: 40px !important;
  }

  .intro-description {
    font-size: 18px;
    max-width: unset;
    padding-bottom: 50px;
  }
}
