.matcha-cheers {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 20px;
    align-items: center;
    position: relative;
}

.matcha {
    width: 4em;
    opacity: 95%;
    cursor: pointer;
}

.cheers-text {
    position: absolute;
    top: -10px;
    left: 20%;
    transform: translateX(-50%);
    font-size: 23px;
    font-weight: bold;
    color: var(--neon-pink);
}

.hover-text {
    padding: 30px;
    font-size: 23px;
    opacity: 0.8;
    color: var(--pink-glow);
    white-space: nowrap;
}