.matcha-cheers {
    display: flex;
    justify-content: left;
    padding: 30px 50px;
    align-items: center;
    gap: 0px;
    position: relative;
}

.hover-text {
    position: absolute;
    top: 50%;
    right: -80px;
    font-size: 26px;
    opacity: 0.8;
    color: var(--pink-glow);
    white-space: nowrap;
}
.matcha {
    width: 160px;
    cursor: pointer;
}

.matcha.left {
    transform: rotate(-10deg);
}

.matcha.right {
    transform: rotate(10deg);
}

.cheers-text {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: bold;
    color: var(--neon-pink);
}