.navbar {
    display: flex;
    justify-content: space-between;
    position: sticky !important;
    top: 0;
    background-color: var(--dark-berry);
    padding: 0px 70px;
    align-items: center;
    z-index: 100;
}

.navbar-brand {
    color: var(--pastel-pink);
    font-size: 30px;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    gap: 24px;
}

.navbar-links ul {
    list-style-type: none;
}

.navbar-links li {
    list-style: none;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.navbar-links li:hover {
    color: #16a085;
}

.navbar-links li::before {
    content: none;
}

.navbar-links a {
    color: var(--pastel-pink) !important;
    text-decoration: none !important;
}