/* For PC Screen */
#tech-stack {
  min-height: 50vh;
  margin: auto;
  max-width: 1300px;
  padding-bottom: 70px;
  padding-top: 40px;
}

.description {
  color: var(--pink-glow);
  font-family: "NTR", sans-serif;
  font-size: 26px;
  text-align: left;
  max-width: 700px;
  padding-bottom: 20px;
}

.tech-stack-list {
  list-style-type: disc;
  padding-left: 20px;
  font-family: "NTR", sans-serif;
  font-size: 20px;
  color: var(--pink-glow);
}

#tech-stack ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 20px));
}

#tech-stack li {
  position: relative;
  padding-left: 40px;
  font-size: 30px;
  font-weight: bold;
  color: var(--cute-lime-fade);
}

#tech-stack li::before {
  content: "✿⁠";
  color: var(--neon-pink);
  position: absolute;
  left: 0;
}

/* For Phone Screen */
@media only screen and (max-width: 720px) {
  #tech-stack li {
    font-size: 20px;
    padding-left: 25px;
    padding-bottom: 20px;
  }

  #tech-stack ul {
    grid-template-columns: repeat(2, minmax(150px, 10px));
  }
}

/* For Tablet Screen */
@media only screen and (min-width: 820px) and (max-width: 1366px) {
  #tech-stack li {
    font-size: 40px;
    padding-left: 45px;
    padding-bottom: 20px;
  }

  #tech-stack ul {
    grid-template-columns: repeat(2, minmax(250px, 20px));
  }
}