/* For PC Screen */
#tech-stack {
  min-height: 50vh;
  margin: auto;
  max-width: 1300px;
  padding-bottom: 70px;
  padding-top: 40px;
  padding-bottom: 200px;
}

#tech-stack ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 20px));
}

#tech-stack li {
  position: relative;
  padding-left: 40px;
  font-size: 30px;
  font-weight: bold;
  color: var(--cute-lime-fade);
}

#tech-stack li::before {
  content: "✿⁠";
  color: var(--neon-pink);
  position: absolute;
  left: 0;
}

.tech-stack-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: center;
  align-items: center;
}

.tech-stack-description {
  color: var(--pink-glow);
  font-family: "NTR", sans-serif;
  font-size: 26px;
  text-align: left;
  max-width: 700px;
  padding-bottom: 20px;
}

.tech-stack-list {
  list-style-type: disc;
  padding-left: 20px;
  font-family: "NTR", sans-serif;
  font-size: 20px;
  color: var(--pink-glow);
}

.pc-pic {
  width: 500px;
  height: 500px;
  margin: 50px;
  margin-top: 150px;
  opacity: 85%;
}

/* For Phone Screen */
@media only screen and (max-width: 720px) {
  #tech-stack {
    padding-bottom: 30%;
    padding-top: 10px;
  }

  #tech-stack-title {
    justify-content: center;
  }

  #tech-stack li {
    font-size: 20px;
    padding-left: 25px;
    padding-bottom: 10px;
  }

  #tech-stack ul {
    grid-template-columns: repeat(2, minmax(150px, 10px));
  }

  .tech-stack-description {
    font-size: 18px;
  }

  .tech-stack-container {
    flex-direction: column;
  }

  .tech-stack-list{
    padding-left: 10px;
    margin: 0px;
  }

  .pc-pic {
    width: 250px;
    height: 250px;
    margin: 0px;
  }
}

/* For Tablet Screen */
@media only screen and (min-width: 820px) and (max-width: 1366px) {
  #tech-stack {
    padding-bottom: 0px;
  }

  #tech-stack li {
    font-size: 24px;
    padding-left: 30px;
  }

  #tech-stack ul {
    grid-template-columns: repeat(2, minmax(250px, 20px));
  }

  .tech-stack-description-container {
    max-width: 400px;
  }

  .tech-stack-description {
    font-size: 22px;
  }

  .pc-pic {
    width: 280px;
    height: 280px;
    margin: 0px;
  }
}