@import url("./styles/Global.css");

/* For PC Screen */

.App {
  font-family: "NTR";
  background-image: linear-gradient(var(--medium-berry), var(--dark-berry));
  display: flex;
  margin: auto;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(10vh);
  transition: opacity 0.5s ease-out, transform 1s ease-out;
}

.fade-in-section.is-active {
  opacity: 1;
  transform: translateY(0);
}

.section-title {
  font-family: "NTR", sans-serif;
  color: var(--neon-pink);
  font-size: 50px;
  font-weight: bold;
  display: flex;
}

#components {
  padding: 50px 100px;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* For Phone Screen */
@media only screen and (max-width: 800px) {
  #components {
    padding: 20px;
  }

  .section-title {
    font-size: 35px;
    justify-content: center;
  }
}
